@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

@import "tailwindcss";

@theme {
    --font-primary: "Cormorant Garamond", serif;
    --font-bodoni: "Bodoni Moda", serif;
    --font-inter: "Inter", sans-serif;
    --font-open: "Open Sans", sans-serif;
}

@keyframes underline {
  from {
    transform: scaleX(0);
    transform-origin: left;
  }

  to {
    transform: scaleX(1);
    transform-origin: left;
  }
}

body {
    @apply bg-[#f5ece1];
    @apply font-inter;
}

.bg-primary {
    @apply bg-[#f5ece1];
}

.button-primary {
    @apply relative overflow-hidden h-[40px] cursor-pointer;
}

.text-hero-section {
  @apply font-primary font-medium leading-none;
  font-size: clamp(40px, 10vw, 88px);
}