@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import "tailwindcss";

@font-face {
  font-family: "FontPrimary";
  src: url("../assets//fonts//font-primary.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@theme {
    --font-primary: "FontPrimary", serif;
    --font-bodoni: "Bodoni Moda", serif;
    --font-inter: "Inter", sans-serif;
    --font-open: "Open Sans", sans-serif;
}

@keyframes underline {
  from {
    transform: scaleX(0);
    transform-origin: left;
  }

  to {
    transform: scaleX(1);
    transform-origin: left;
  }
}

body {
    @apply bg-[#f1efee];
    @apply font-inter;
}

.bg-primary {
    @apply bg-[#f1efee];
}

.button-primary {
    @apply relative overflow-hidden h-[40px] cursor-pointer;
}

.text-hero-section {
  @apply font-primary font-extralight text-[clamp(4rem,19vw,35rem)] tracking-[clamp(0.2rem,1.5vw,2rem)]
   leading-[0.85];
}